.About {
    min-height: 180vh;
    background: white;
    margin: 0;
    padding: 20px;
    font-size: 40px;
}

.Row {
    display: flex;
    flex-direction: row;
}

.Title {
    font-size: 60px;
    color: #191970;
    padding-bottom: 55px;
}