.About {
    background: white;
    height: min(90%, 70.5rem);
    display: flex;
    flex-direction: column;
    justify-content: space-around 10px;
}

.Row {
    display: flex;
    flex-direction: row;
}

.Title {
    font-size: 3rem;
    color: #191970;
    padding-bottom: 2rem;
}

@media all and (max-width:500px) {
    .Row {
        background: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around 10px;
    }
    .Row div:first-child {
        order: 1;
    }
}