.About {
    background: white;
    min-height: 140vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around 10px;
}

.Row {
    display: flex;
    flex-direction: row;
}

.Title {
    font-size: 60px;
    color: #191970;
    padding-bottom: 55px;
}