.App {
    text-align: center;
    background: gainsboro;
    height: min(90%, 70.5rem);
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    display: block;
    text-align: center;
    padding: 0.7rem 1.2rem;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

Link {
    display: block;
    text-align: center;
    padding: 0.7rem 1.2rem;
    text-decoration: none;
}

li:hover {
    background-color: darkviolet;
}

li.active {
    background-color: darkviolet;
}

.end {
    min-height: 1.8rem;
    background-color: gray;
}

.image {
    max-height: 1rem;
    max-width: 1rem;
    float: right;
    margin-right: 0.1rem;
    border: 5px double #B8860B;
    background-color: #B8860B;
}

.image:hover {
    cursor: pointer;
}