.image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 10px;
}

.details {
    height: 100%;
    width: 50%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 5px double #B8860B;
    align-items: center;
}

.title {
    font-family: Franklin Gothic Medium;
    font-size: 15px;
    color: #000000;
    text-align: left;
}

.data {
    font-size: 15px;
    color: #000000;
    text-align: left;
}

.col {
    padding: 20px;
}

.table {
    padding: 20px;
    border-spacing: 20px 25px;
}