.image {
    border-radius: 50%;
    min-width: 100px;
    min-height: 100px;
    padding: 1rem;
}

.details {
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    border: 0.25rem double #B8860B;
    align-items: center;
}

.title {
    font-family: Franklin Gothic Medium;
    font-size: 1rem;
    color: #000000;
    text-align: left;
}

.data {
    font-size: 1rem;
    color: #000000;
    text-align: left;
}

.col {
    padding: 1rem;
}

.table {
    padding: 1rem;
    border-spacing: 1rem 1rem;
}