.Home {
    min-height: 110vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('C:/Users/shaku/OneDrive/Desktop/לימודים/React/my-web/src/image/option4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.Name {
    color: white;
    margin: 0;
    padding: 20px;
    font-size: 40px;
}

.Data {
    padding: 120px 50px 50px 50px;
    color: white;
    margin: 20px auto;
}

.Subject {
    color: #6495ED;
    font-family: monospace;
    font-size: 90px;
    position: relative;
}

.Subject:after {
    color: #FFF8DC;
    content: attr(data-descr);
    font-size: 90px;
}