.container {
    background: #336699;
    min-height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around 1rem;
}

.label {
    font-size: 4rem;
    color: white;
    padding-bottom: 1rem;
}

.name {
    text-align: left;
    font-size: 0.75rem;
}

.profession {
    align-items: center;
    margin: 75rem;
}

h5 {
    font-size: 2rem;
    color: white;
}

@media all and (max-width:500px) {
    .name {
        text-align: center;
        font-size: 10px;
    }
}