.container {
    background: #336699;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around 10px;
}

.label {
    font-size: 60px;
    color: white;
    padding-bottom: 35px;
}

.name {
    text-align: left;
    font-size: 10px;
}

.profession {
    align-items: center;
    margin: 5px;
}

h5 {
    font-size: 20px;
    color: white;
}